:root {
    --primary-color: #8B5CF6;
    --primary-dark: #7C3AED;
    --primary-light: #EDE9FE;
    --primary-extra-light: #F5F3FF;
}

.violet-gradient-theme {
    display: flex;
    padding: 2px;
    border-top: 1px solid var(--primary-light);
    box-shadow: 0 -2px 10px rgba(198, 160, 246, 0.2);
}

.violet-gradient-input {
    flex: 1;
    padding: 16px 12px;
    border-radius: 7px;
    resize: none;
    border: 0;
    overflow-y: hidden;
    min-height: 44px;
    max-height: 200px;
    transition: all 0.3s ease;
    background: #212d3b;
    color: #dedede;
    box-shadow: inset 0 1px 3px rgba(216, 180, 254, 0.4);
    font-size: 15px;
    line-height: 1.5;
}

.violet-gradient-input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: inset 0 0 0 2px rgba(147, 51, 234, 0.2),
    0 0 0 3px rgba(216, 180, 254, 0.3);
}

.violet-gradient-button {
    margin: 1px 1px 0px 3px;
    padding: 0 20px;
    background: linear-gradient(135deg, var(--primary-color), var(--primary-dark));
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;

}

.violet-gradient-button:hover {
    background: linear-gradient(135deg, var(--primary-dark), #6D28D9);
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(139, 92, 246, 0.3);
}

.violet-gradient-button:active {
    transform: translateY(0);
    background: linear-gradient(135deg, #6D28D9, #5B21B6);
}

.flower-effect {
    position: relative;
    transition: all 0.3s;
}

.small-flower {
    font-size: 25px;
    opacity: 0;
    transition: all 0.3s;
    position: absolute;
    left: -14px;
    top: -11px;
}

.violet-gradient-button:hover .small-flower {
    opacity: 1;
    transform: rotate(30deg);
}

/* انیمیشن ظریف برای دکمه */
@keyframes gentlePulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

.violet-gradient-button:hover {
    animation: gentlePulse 1.5s ease infinite;
}

/* افکت گل پراکنده هنگام کلیک */
.violet-gradient-button:active::after {
    content: "🌸";
    position: absolute;
    font-size: 12px;
    animation: flowerSpread 0.6s ease-out forwards;
    opacity: 0;
}

.mobile-view .message-input {
    width: 100%;
}
.message-input {
    display: flex;
    padding: 3px;
    border-top: 1px solid #444;
    background: linear-gradient(135deg, #57005a, #300039);
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 300px);
    box-sizing: border-box;
    z-index: 100;
}

@keyframes flowerSpread {
    0% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(var(--tx), var(--ty)) scale(0.5);
    }
}
