@font-face {
    font-family: 'IRANSans';
    src: url('~/assets/litle.ttf') format('truetype');
}

* {
    font-family: IRANSans !important;

}

.app-container {
    --primary-color: #4e0c65;
    --primary-dark: #810369;
    --secondary-color: #a29bfe;
    --dark-bg: #1a1a2e;
    --darker-bg: #16213e;
    --text-color: #e2e2e2;
    --text-muted: #b8b8b8;
    --border-color: #2d3748;

    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--dark-bg);
    color: var(--text-color);
}

.main-content {
    background: url(https://dl.natilos.ir/ffff/bg8.jpg) center top fixed #151515;
    background-size: contain;
    height: 100vh;
    display: flex;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.chat-view {
    flex: 1;
    overflow: hidden;
    background-color: #000000aa;
}

/* موبایل ویو */
.mobile-view .main-content {
    flex-direction: column;
}

.sidebar-toggle-btn:hover {
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-toggle-btn {
    transition: 0.2s;
    position: fixed;
    top: 0.5rem;
    left: 65px;
    width: 3.5rem;
    height: 3.5rem;
    padding-top: 9px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 29px;
}

/* انیمیشن‌ها */
.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.3s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(100%);
    opacity: 0;
}

@media (min-width: 768px) {
    .sidebar-toggle-btn {
        display: none;
    }
}


.mobile-view .load {
    left: 50%;
}

.load {
    position: fixed;
    top: 38%;
    left: calc(50% - 150px);
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
}

.load .circle {
    position: fixed;
    height: 130px;
    opacity: 0;
    transform: rotate(0deg);
    animation-iteration-count: infinite;
    animation-name: orbit;
    animation-duration: 4.3s;
}

.load .circle:after {
    box-shadow: 0 0 12px 0 #fff;
    content: '';
    position: fixed;
    width: 12px;
    height: 12px;
    border-radius: 99%;
    background: #d5b9cd;
}

.load .circle:nth-child(2) {
    animation-delay: 240ms;
}

.load .circle:nth-child(3) {
    animation-delay: 480ms;
}

.load .circle:nth-child(4) {
    animation-delay: 720ms;
}

.load .circle:nth-child(5) {
    animation-delay: 960ms;
}

@keyframes orbit {
    0% {
        transform: rotate(225deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }
    7% {
        transform: rotate(345deg);
        animation-timing-function: linear;
    }
    30% {
        transform: rotate(455deg);
        animation-timing-function: ease-in-out;
    }
    39% {
        transform: rotate(690deg);
        animation-timing-function: linear;
    }
    70% {
        transform: rotate(815deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }
    75% {
        transform: rotate(945deg);
        animation-timing-function: ease-out;
    }
    76% {
        transform: rotate(945deg);
        opacity: 0;
    }
    100% {
        transform: rotate(945deg);
        opacity: 0;
    }
}


::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background: #555
}

::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background: linear-gradient(250deg, #3d195c, #6b4c6b);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(250deg, #5a2588, #9e769e);
    box-shadow: 0 0 2px 1px #555
}

::-webkit-scrollbar-track {
    background: #555;
    border: 1px solid #555
}