@font-face {
    font-family: 'IRANSans';
    src: url('~/assets/litle.ttf') format('truetype');
}

* {
    font-family: IRANSans !important;

}

.app-container {
    --primary-color: #4e0c65;
    --primary-dark: #810369;
    --secondary-color: #a29bfe;
    --dark-bg: #1a1a2e;
    --darker-bg: #16213e;
    --text-color: #e2e2e2;
    --text-muted: #b8b8b8;
    --border-color: #2d3748;

    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--dark-bg);
    color: var(--text-color);
}

.main-content {
    display: flex;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.chat-view {
    flex: 1;
    overflow: auto;
    padding: 1rem;
    background-color: var(--darker-bg);
}

/* موبایل ویو */
.mobile-view .main-content {
    flex-direction: column;
}

.sidebar-toggle-btn {
    position: fixed;
    top: 0.5rem;
    left: 4.5rem;
    width: 3.5rem;
    height: 3.5rem;
    padding: 9px 0px 0px 0px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 29px;
}

/* انیمیشن‌ها */
.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.3s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(100%);
    opacity: 0;
}

@media (min-width: 768px) {
    .sidebar-toggle-btn {
        display: none;
    }
}
